{% extends 'common.html' %}
{% block content %}
    <body class="container-fluid"
          style="background-image: url('http://www.bvinyl.com/image/catalog/texts/bvinyl-warehouse.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container-fluid" style="background-color: white">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Название товара</th>
                <th>Категория товара</th>
                <th>Компания, поизводящая товар</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for item in product %}
                    <tr>
                    <th scope="row">{{ item.id }}</th>

                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.company }}</td>
                    <td><a href="{% url 'edit_product' item.id %}">Редактировать</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
<ul class="pagination justify-content-center">

    <li class="step-links">
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Первая</a></li>
        {% if product.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ product.previous_page_number }}">Предыдущая</a></li>
        {% endif %}

        {% if product.has_next %}
            <li class="page-item"><a  class="page-link" href="?page={{ product.next_page_number }}">Следующая</a></li>
        {% endif %}
        <li class="page-item"><a  class="page-link" href="?page={{ product.paginator.num_pages }}"> Последняя &raquo;</a></li>
    </span>
</ul>

    </div>

    </body>
{% endblock %}